---
import { dropDownClass } from "@utils/componentClasses/dropDownClass";
const { label, position, hover, type = "menu", class: className } = Astro.props;
const dropDownClassNew = dropDownClass({ position, hover, type, className });
---

<div class={dropDownClassNew.headerClass}>
  <div role="button" class={dropDownClassNew.labelClass}>
    {label}
  </div>
  {
    type === "menu" ? (
      <ul class={dropDownClassNew.contentClass}>
        <slot />
      </ul>
    ) : (
      <div class={dropDownClassNew.contentClass}>
        <div class="card-body">
          <slot />
        </div>
      </div>
    )
  }
</div>
